@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sietma de Gestión Académica</h1>
    <p>Sistema para administrar la gestión de los cursos y estudiantes.</p>
</div>
